*/target/
application/all-*.dat
application/package-attrs.dat
application/netigso-bundles
application/localeVariants
application/netigso/
application/catalogcache/
application/lastModified/
.idea/
*.iml
.DS_Store
